@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'PoppinsBold';
  src: url('../../public/fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'PoppinsRegular';
  src: url('../../public/fonts/Poppins-Regular.ttf');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PoppinsBold';
}

p,
li,
span,
a {
  font-family: 'PoppinsRegular';
}

body,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

#privacy_content h4,
#privacy_content p,
#privacy_content li,
#privacy_content a {
  color: #1F524D;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}

#privacy_content h4,
a {
  font-weight: bold;
}

#privacy_content p,
#privacy_content li,
#privacy_content span {
  font-weight: normal;
}

#privacy_content ul {
  list-style-type: disc;
  list-style-position: inside;
}

@media (min-width: 1280px) {
    .container {
        max-width: 1118px;
    }
}